<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="authcfg" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>sceneconfigure.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>gov.tzms.auth.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="gov.tzms">
        <level value="INFO" />
        <appender-ref ref="authcfg" />
    </logger>
</configuration>

